/* 网页头部 */
.fanyi-sfr-container .header#shoubai-header {
  display: none !important;
}
.fanyi-sfr-container #new-header {
  display: none !important;
}

/* 语言选择栏 */
body:not(.trans-ext-detail) .fanyi-sfr-container .translang {
  /* 自动检测语言（如检测为中文）时，语言栏切换动画依赖该元素的可见性，
    display 隐藏后会导致页面无法正常加载，所以设置 height 为 0 来隐藏元素 */
  /* display: none !important; */
  height: 0px;
  overflow: hidden;
}

/* 内容输入框 */
body:not(.trans-ext-detail) .fanyi-sfr-container .trans-input {
  display: none;
}

/* 页面底部百度翻译app广告 */
.fanyi-sfr-container .bottom-intro {
  display: none !important;
}

/* 翻译结果下面的百度翻译app广告 */
.fanyi-sfr-container .app-bar {
  display: none !important;
}

/* 翻译来源条（如结果来自金山词霸） */
.fanyi-sfr-container .concise-dict .dict-origin-wrap {
  display: none !important;
}

/* 如果关键字为空时，会在底部显示英文文章 */
.fanyi-sfr-container .article {
  display: none !important;
}
