body {
  font-size: 14px;
  font-family: "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #555555;
  margin: 0;
}

input[type='checkbox'] {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: #03a9f4;
}

.page-wrapper {
  padding: 20px;
  width: 600px;
  margin: 0 auto;
}

.para + .para {
  margin-top: 30px;
}

.para__title {
  font-size: 20px;
  color: #333333;
  margin-bottom: 10px;
}

.reward__button {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  margin-left: 10px;
  background: #03a9f4;
  padding: 0 6px;
  color: #ffffff;
}
.reward__list {
  width: 600px;
  height: 101px;
  margin-top: 10px;
}

.reward__list-iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

.already-latest,
.not-latest {
  display: none;
}